[all:children]
jenkins_master
jenkins_slaves
openshift
scanner_worker

[jenkins_master]
{{ jenkins_master_host }}

[jenkins_slaves]
{{ jenkins_slave_host }}

[openshift]
{{ openshift_host }}

[scanner_worker]
{{ scanner_host }}

[all:vars]
db_host= {{ jenkins_master_host }}
public_registry= {{ jenkins_slave_host }}
intranet_registry = {{ jenkins_slave_host }}:5000
copy_ssl_certs=True
openshift_startup_delay=150
beanstalk_server={{ openshift_host }}
test=True
jenkins_public_key_file = jenkins.key.pub
enable_epel=False
test_nfs_share={{ test_nfs_share }}
setup_nfs=True
production=False
log_level=DEBUG
openshift_server_ip={{ openshift_host }}
deployment=ci
cccp_index_repo={{ cccp_index_repo }}
cccp_index_repo_branch={{ cccp_index_branch }}
db_backup_nfs_path=/srv/db/cccp
db_local_volume=/srv/local-db-volume/cccp

[jenkins_master:vars]
jenkins_private_key_file = jenkins.key
oc_slave={{ jenkins_slave_host }}